:root {
    --bgColor: #F5F5F5;
    --bgColor2: #DCDFE4;
    --bgColor3: #fff;
    --bgColor4: #E0EBEF;
    --secBgColor: #323946;
    --titleColor: #1F4260;
    --secTitleColor: #FD6161;
    --txtColor: #747474;
    --mainColor: #0C7096;
    --mainColor2: #C8EAF8;
    --hoverbgColor: #B4C0CB;
    --hoverColor: #1F4260;

    --marginTop: 9rem;
}

.mainVideo {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
}

body {
    background-color: var(--bgColor);
    box-sizing: border-box;
    width: 100%;
}

.container {
    position: relative;
    padding-top: 100vh;
}

.back_video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header {
    height: 4.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.header-scroll {
    background-color: var(--bgColor);
}


.navBarC {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar_img {
    margin-left: 70px;
    width: 50%;
    height: 50%;
}

.navbar_menu {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-around;
    margin-right: 70px;
}

.navbar_menu a {
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar_menu a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 8px;
}

.navbar_menu a:hover::after {
    width: 100%;
    transition: width .3s linear;
}

.navbar_menu a:hover {
    color: var(--mainColor) !important;
}

.navbar_menu a.active {
    color: var(--mainColor);
}

.dropDownMenu {
    position: relative;
}

.dropDownMenuContent {
    position: absolute;
    left: 0;
    top: calc(100% + .2rem);
    background: linear-gradient(45deg, var(--bgColor), var(--bgColor4), var(--bgColor));
    background-size: 300% 300%;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1rem);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    animation: color 10s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.dropDownMenu.activeDropDown>.linkProductMenu+.dropDownMenuContent {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.contentMenuGrid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}


.dropDownLinks {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    color: var(--mdb-body-color);
    padding-left: 1rem;
}

.dropDownHeader a {
    color: var(--mainColor);
    font-weight: 500;
    font-size: 1.2rem;
}

.dropDownHeader a::after {
    height: 0;
}

.dropDownLinks a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 1px;
}

.dropDownHeader a:hover {
    color: var(--hoverColor) !important;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

/* SLIDE Section */
.slideContainer {
    height: 95vh;
    width: 100%;
    position: relative;
    background-color: var(--bgColor);
}

.carousel {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    background-color: var(--bgColor) !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.titleContainer {
    position: absolute;
    top: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

.titleContainer h1 {
    color: var(--titleColor);
    text-align: center;
    font-size: 2rem;
    animation-name: displayBottom;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.titleContainer h2 {
    color: var(--txtColor);
    font-size: 1rem;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    animation-name: displayBottom;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.bulles {
    width: 100%;
    height: 100%;
}

.button {
    --offset: 10px;
    --border-size: 2px;
    margin: 10px;
    margin-top: 3rem;
    position: relative;
    padding: 0.9em 1.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    color: var(--mainColor);
    border-color: #323946;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
}

.button:hover {
    background: var(--hoverbgColor);
    color: var(--hoverColor);
}

/* ALL Section */

.section {
    min-height: 10rem;
    display: flex;
}

.section h2 {
    font-size: 26px;
    font-weight: 500;
    color: var(--titleColor);
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.section h2::after {
    content: '';
    width: 5rem;
    height: 3px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 8px;
}

.section h3 {
    color: var(--secTitleColor);
    text-align: left;
}

.section h4 {
    text-align: center;
    color: var(--txtColor) !important;
}

.section p {
    font-size: 17px;
    text-align: justify;
}

/*header*/
.headerDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    width: 50%;
}

.headerDescription h5 {
    font-size: 55px;
    font-weight: 500;
    color: var(--bgColor3);
    margin-bottom: 0rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px black;
}

.headerDescription h6 {
    font-size: 30px;
    font-weight: 400;
    color: #FCD674;
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

.headerDescription p {
    font-weight: 100;
    font-size: 1.2rem;
    color: var(--bgColor3);
    text-shadow: 1px 1px black;
}

.headerContainer img {
    height: 23rem;
    padding-right: 10%;
}

/*METIERS*/

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: var(--marginTop);
    margin-bottom: 8rem;
}

#Description_products {
    font-weight: 800;
    border-radius: 1rem;
    padding: 1rem 10rem;
    width: 100%;
    margin-bottom: 5rem;
    align-items: center;
    background-color: var(--hoverColor);
    color: var(--bgColor);
}

#Description_products p {
    text-align: center;
}

.portfolioContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolioContainer .portfolioBox {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--bgColor);
    overflow: hidden;
    display: flex;
    max-height: 15rem;
    min-height: 15rem;
}


.portfolioBox .img {
    width: 100%;
    transition: .5s ease;
}

.portfolioBox:hover .img {
    transform: scale(1.1);
}

.portfolioBox .portfolioLayer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolioBox:hover .portfolioLayer {
    transform: translateY(0);
}

.portfolioLayer h4 {
    font-size: 2rem;
    color: var(--bgColor) !important;
    text-shadow: 2px 2px var(--hoverColor);
}

.portfolioLayer p {
    font-size: .8rem;
    margin: .3rem 0 1rem;
    color: var(--bgColor);
    text-shadow: 1px 1px var(--hoverColor);
    text-align: center;
}

.portfolioLayer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.portfolioLayer a i {
    font-size: 1.5rem;
    color: var(--bgColor4);
    text-shadow: 2px 2px var(--hoverColor);
}


/* PARTENERS Section */
.cpartners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 5rem;
}

.logosPartners img {
    width: 150px;
    margin: 0 10px;
}

.cpartners .partner_description {
    background-color: var(--secBgColor);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
}

.partner_description h3 {
    color: var(--partnerTitleColor);
    padding-top: 2rem;
}

.partner_description p {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.buttonSiteOfficielPartner a {
    text-decoration: none;
    color: inherit;
}

/*footer*/
footer {
    background-color: #B4C0CB;
    padding: 1rem;
}

footer .logo img {
    width: 10rem;
}

footer .logo {
    padding-bottom: 2rem;
    padding-left: 3rem;
}

footer h3 {
    color: var(--mainColor);
    font-size: 18px;
}

footer svg {
    width: 2rem;
    color: var(--mainColor);
    box-shadow: 1 1 black;
}

footer .contact p {
    color: black;
    font-size: 13px;
}

footer .up {
    display: flex;
    align-items: flex-start;
    gap: 15%;
    padding: 20px;
    flex-direction: column;
}

footer .up p {
    text-align: justify;
}

.footerInfo {
    display: flex;
}

.footerInfo .item {
    width: 30%;
    padding: 0 3rem;
}

.footerInfo .item {
    display: flex;
    flex-direction: column;
}

.footerInfo .item div {
    margin-left: 1rem;
}

.footerMenu a {
    text-decoration: none;
    color: var(--mdb-body-color);
    font-family: var(--mdb-body-font-family);
    font-size: var(--mdb-body-font-size);
    font-weight: var(--mdb-body-font-weight);
    line-height: var(--mdb-body-line-height);
    cursor: pointer;
    text-transform: uppercase;
}

.footerMenu a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: .1rem;
}

.footerMenu a:hover::after {
    width: 100%;
    transition: width .3s linear;
}

.footerMenu a:hover {
    color: var(--mainColor) !important;
}

.footerMenu {
    display: flex;
    flex-direction: column;
}

.contactInfo {
    display: flex;
    flex-direction: row;
}

.contactInfo i {
    padding-right: .5rem;
    color: var(--mainColor);
}

.bx {
    font-size: 1.3rem;
}

footer .down {
    color: black;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

footer .down p {
    border-top: 1px solid black;
    padding-top: 10px;
}

.downloadList {
    display: flex;
}

.downloadList a {
    margin-right: 1rem;
    width: 50%;
}

.downloadList a img {
    background: white;
    width: 100%;
    height: 100%;
}


@keyframes displayBottom {
    0% {
        transform: translateY(100%);
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes visibleee {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cercleOpposé {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes cercle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 900px) {
    :root {
        --marginTop: 2rem;
    }

    #Description_products {
        padding: 1rem 1rem;
    }

    .portfolioContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .section p {
        text-align: center;
    }

    .mainVideo {
        height: 62.6vh;
    }

    .back_video {
        top: 0;
        height: 35rem;
    }

    .headerDescription {
        align-items: center;
        width: 100%;
    }
    
    .headerDescription h5{
        font-size: 40px;
    }
    
    .container {
        padding-top: 62vh;
    }

    .headerDescription h6{
        font-size: 20px;
    }
    
    .headerDescription p{
        font-size: 1rem;
    }

    .section {
        justify-content: space-evenly;
    }

    .footerInfo {
        flex-direction: column;
    }

    .footerInfo .item {
        width: 100%;
        padding: 1rem 3rem;
    }

    .downloadList {
        justify-content: flex-end;
    }

    .downloadList a {
        margin-right: .5rem;
        width: 25%;
    }

    .iconNavBar {
        display: inline-flex;
    }

    #checkMenu:checked~.iconNavBar #menu-icon {
        display: none;
    }

    .iconNavBar #close-icon {
        display: none;
    }

    #checkMenu:checked~.iconNavBar #close-icon {
        display: inline-flex;
    }

    #checkMenu:checked~.navbar_menu {
        height: 20rem;
    }

    #checkMenu:not(:checked)~.navbar_menu {
        height: 0;
    }

    .navbar_menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 20rem;
        background: white;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar_menu a {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .portfolioContainer {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 10%;
        margin-left: 10%;
    }


}