/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.CustomWrapper {
  width: 100%;
  position: relative;
}
.CustomWrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: var(--mainColor);
  border-radius: 50%;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.23); */
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.CustomWrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.CustomWrapper i:first-child{
  left: -22px;
}
.CustomWrapper i:last-child{
  right: -22px;
}
.CustomWrapper .CustomCarousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.CustomCarousel::-webkit-scrollbar {
  display: none;
}
.CustomCarousel.no-transition {
  scroll-behavior: auto;
}
.CustomCarousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.CustomCarousel.dragging .CustomCarouselCard {
  cursor: grab;
  user-select: none;
}
.CustomCarousel :where(.CustomCarouselCard, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
.CustomCarousel .CustomCarouselCard {
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
}
.CustomCarouselCard a .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.CustomCarouselCard a .img img:hover {
  transform: translateY(-3px) scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .CustomWrapper .CustomCarousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .CustomWrapper .CustomCarousel {
    grid-auto-columns: 100%;
  }
}