:root {
    --bgColor: #F5F5F5;
    --bgColor2: #DCDFE4;
    --secBgColor: #323946;
    --titleColor: #1F4260;
    --secTitleColor: #FD6161;
    --txtColor: #747474;
    --mainColor: #0C7096;
    --hoverbgColor: #B4C0CB;
    --hoverColor: #1F4260;

    --marginTop: 9rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
}

.header-scroll {
    background-color: var(--bgColor);
}

main {
    background-color: var(--bgColor);
    width: 100%;
}

body {
    background-color: var(--bgColor);
    box-sizing: border-box;
    width: 100%;
}

.navBarC {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar_img {
    margin-left: 70px;
    width: 50%;
    height: 50%;
}

.navbar_menu {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-around;
    margin-right: 70px;
}

.navbar_menu a {
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar_menu a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 8px;
}

.navbar_menu a:hover::after {
    width: 100%;
    transition: width .3s linear;
}

.navbar_menu a:hover {
    color: var(--mainColor) !important;
}

.navbar_menu a.active {
    color: var(--mainColor);
}

/* SLIDE Section */
.slideContainer {
    height: 95vh;
    width: 100%;
    position: relative;
    background-color: var(--bgColor);
}

.carousel {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    background-color: var(--bgColor) !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.titleContainer {
    position: absolute;
    top: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

.titleContainer h1 {
    color: var(--titleColor);
    text-align: center;
    font-size: 2rem;
    animation-name: displayBottom;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.titleContainer h2 {
    color: var(--txtColor);
    font-size: 1rem;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    animation-name: displayBottom;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.bulles {
    width: 100%;
    height: 100%;
}

.button {
    --offset: 10px;
    --border-size: 2px;
    margin: 10px;
    margin-top: 3rem;
    position: relative;
    padding: 0.9em 1.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    color: var(--mainColor);
    border-color: #323946;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
}

.button:hover {
    background: var(--hoverbgColor);
    color: var(--hoverColor);
}

/* ALL Section */
.section {
    min-height: 10rem;
}

.section h2 {
    font-size: 26px;
    font-weight: 500;
    color: var(--titleColor);
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.section h2::after {
    content: '';
    width: 5rem;
    height: 3px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 8px;
}

.section h3 {
    color: var(--secTitleColor);
    text-align: left;
}

.section h4 {
    text-align: center;
    color: var(--txtColor) !important;
}

.section p {
    font-size: 17px;
    text-align: justify;
}

/*header*/

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: var(--marginTop);
}

.headerDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    padding-left: 10%;
    padding-right: 5%;
}

.headerDescription h5 {
    font-size: 55px;
    font-weight: 500;
    color: var(--titleColor);
    margin-bottom: 0rem;
    text-align: center;
    text-transform: uppercase;
}

.headerDescription h6 {
    font-size: 20px;
    font-weight: 300;
    color: var(--mainColor);
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.headerContainer img {
    height: 23rem;
    padding-right: 10%;
}

/* solutionS Section */
.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: var(--marginTop);
}

.solutions_cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.solution {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.solution .imgContainer {
    height: 8rem;
    position: relative;
    width: 9rem;
}

.solution .imgContainer img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.solution img {
    height: 23rem;
}

.model_1 img {
    margin-right: 4rem;
}

.model_2 img {
    margin-left: 4rem;
}

.solutionDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

/* PARTENERS Section */
.cpartners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 5rem;
}

.logosPartners img {
    width: 150px;
    margin: 0 10px;
}

.cpartners .partner_description {
    background-color: var(--secBgColor);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
}

.partner_description h3 {
    color: var(--partnerTitleColor);
    padding-top: 2rem;
}

.partner_description p {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.buttonSiteOfficielPartner a {
    text-decoration: none;
    color: inherit;
}

/*footer*/
footer {
    background-color: #B4C0CB;
    padding: 1rem;
}

footer .logo img {
    width: 10rem;
}

footer .logo {
    padding-bottom: 2rem;
    padding-left: 3rem;
}

footer h3 {
    color: var(--mainColor);
    font-size: 18px;
}

footer svg {
    width: 2rem;
    color: var(--mainColor);
    box-shadow: 1 1 black;
}

footer .contact p {
    color: black;
    font-size: 13px;
}

footer .up {
    display: flex;
    align-items: flex-start;
    gap: 15%;
    padding: 20px;
    flex-direction: column;
}

footer .up p {
    text-align: justify;
}

.footerInfo {
    display: flex;
}

.footerInfo .item {
    width: 30%;
    padding: 0 3rem;
}

.footerInfo .item {
    display: flex;
    flex-direction: column;
}

.footerInfo .item div {
    margin-left: 1rem;
}

.footerMenu a {
    text-decoration: none;
    color: var(--mdb-body-color);
    font-family: var(--mdb-body-font-family);
    font-size: var(--mdb-body-font-size);
    font-weight: var(--mdb-body-font-weight);
    line-height: var(--mdb-body-line-height);
    cursor: pointer;
    text-transform: uppercase;
}

.footerMenu a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: .1rem;
}

.footerMenu a:hover::after {
    width: 100%;
    transition: width .3s linear;
}

.footerMenu a:hover {
    color: var(--mainColor) !important;
}

.footerMenu {
    display: flex;
    flex-direction: column;
}

.contactInfo {
    display: flex;
    flex-direction: row;
}

.contactInfo i {
    padding-right: .5rem;
    color: var(--mainColor);
}

.bx {
    font-size: 1.3rem;
}

footer .down {
    color: black;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

footer .down p {
    border-top: 1px solid black;
    padding-top: 10px;
}

.downloadList {
    display: flex;
}

.downloadList a {
    margin-right: 1rem;
    width: 50%;
}

.downloadList a img {
    background: white;
    width: 100%;
    height: 100%;
}


@keyframes displayBottom {
    0% {
        transform: translateY(100%);
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes visibleee {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cercleOpposé {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes cercle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 900px) {
    :root {
        --marginTop: 2rem;
    }

    .headerContainer {
        flex-direction: column;
        margin-top: 7rem;
    }

    .headerDescription {
        align-items: center;
        padding: 0;
    }

    .headerContainer img {
        height: 17rem;
        padding-right: 0;
    }

    .solution img {
        height: 17rem;
        margin-bottom: 3rem;
    }

    .model_1 img {
        margin-right: 0;
    }

    .model_2 {

        flex-direction: column-reverse !important;;
    }

    .solution {
        flex-direction: column;
    }

    .section p {
        text-align: center;
    }

    .container {
        margin: 0;
    }

    .service {
        width: 100%;
        padding: 0rem 0rem;
    }

    .footerInfo {
        flex-direction: column;
    }

    .footerInfo .item {
        width: 100%;
        padding: 1rem 3rem;
    }

    .downloadList {
        justify-content: flex-end;
    }

    .downloadList a {
        margin-right: .5rem;
        width: 25%;
    }

    .iconNavBar {
        display: inline-flex;
    }

    #checkMenu:checked~.iconNavBar #menu-icon {
        display: none;
    }

    .iconNavBar #close-icon {
        display: none;
    }

    #checkMenu:checked~.iconNavBar #close-icon {
        display: inline-flex;
    }

    #checkMenu:checked~.navbar_menu {
        height: 20rem;
    }

    #checkMenu:not(:checked)~.navbar_menu {
        height: 0;
    }

    .navbar_menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 20rem;
        background: white;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar_menu a {
        display: block;
    }
}