:root {
    --bgColor: #F5F5F5;
    --bgColor2: #DCDFE4;
    --bgColor3: #fff;
    --bgColor4: #E0EBEF;
    --secBgColor: #323946;
    --titleColor: #1F4260;
    --txtColor: #747474;
    --mainColor: #0C7096;
    --mainColor2: #C8EAF8;
    --partnerTitleColor: #56bde6;
    --hoverbgColor: #B4C0CB;
    --hoverColor: #1F4260;
    --marginTop: 5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
}

.header-scroll {
    background-color: var(--bgColor);
}

main {
    background-color: var(--bgColor);
    width: 100%;
}

body {
    background-color: var(--bgColor);
    box-sizing: border-box;
    width: 100%;
}

.navBarC {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar_img {
    margin-left: 10%;
    width: 50%;
    height: 50%;
}

#checkMenu {
    display: none;
}

.iconNavBar {
    position: absolute;
    right: 2rem;
    font-size: 2.8rem;
    color: black;
    cursor: pointer;
    display: none;
}

.navbar_menu {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-around;
    margin-right: 70px;
}

.navbar_menu a {
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar_menu a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 8px;
}

.navbar_menu a:hover::after {
    width: 100%;
    transition: width .3s linear;
}

.navbar_menu a:hover {
    color: var(--mainColor) !important;
}

.navbar_menu a.active {
    color: var(--mainColor);
}

.dropDownMenu {
    position: relative;
}

.dropDownMenuContent {
    position: absolute;
    left: 0;
    top: calc(100% + .2rem);
    background: linear-gradient(45deg, var(--bgColor), var(--bgColor4), var(--bgColor));
    background-size: 300% 300%;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1rem);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    animation: color 10s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.dropDownMenu.activeDropDown>.linkProductMenu+.dropDownMenuContent {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.contentMenuGrid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}


.dropDownLinks {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    color: var(--mdb-body-color);
    padding-left: 1rem;
}

.dropDownHeader a {
    color: var(--mainColor);
    font-weight: 500;
    font-size: 1.2rem;
}

.dropDownHeader a::after {
    height: 0;
}

.dropDownLinks a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 1px;
}

.dropDownHeader a:hover {
    color: var(--hoverColor) !important;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

/* SLIDE Section */
.slideContainer {
    height: 95vh;
    width: 100%;
    position: relative;
    background-color: var(--bgColor);
}

.carousel {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    background-color: var(--bgColor) !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-control-next-icon:after {
    color: var(--mainColor);
}

.carousel-control-prev-icon:after {
    color: var(--mainColor);
}

.carousel-indicators [data-mdb-target] {
    background-color: var(--txtColor);
}

.titleContainer {
    position: absolute;
    top: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

.titleContainer h1 {
    color: var(--titleColor);
    text-align: center;
    font-size: 2rem;
    animation-name: displayBottom;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.titleContainer h2 {
    color: var(--txtColor);
    font-size: 1rem;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    animation-name: displayBottom;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.bulles {
    width: 100%;
    height: 100%;
}

.button {
    --offset: 10px;
    --border-size: 2px;
    margin: 10px;
    margin-top: 3rem;
    position: relative;
    padding: 0.9em 1.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    color: var(--mainColor);
    border-color: #323946;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
}

.button:hover {
    background: var(--hoverbgColor);
    color: var(--hoverColor);
}

/* ALL Section */
.section {
    min-height: 10rem;
}

.section h2 {
    font-size: 26px;
    font-weight: 500;
    color: var(--titleColor);
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.section h2::after {
    content: '';
    width: 5rem;
    height: 3px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 8px;
}

.section h3 {
    color: var(--mainColor);
}

.section h4 {
    text-align: center;
    color: var(--txtColor) !important;
}

.section p {
    font-size: 17px;
}

/* ABOUT Section */
.about {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: var(--marginTop);
}

/* SERVICES Section */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: var(--marginTop);
}

.services_cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service {
    padding: 1.5rem 2.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.service .imgContainer {
    height: 8rem;
    position: relative;
    width: 9rem;
}

.service .imgContainer img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#SupTech_fleshs {
    top: 0.1rem;
    height: 8rem;
    width: 8rem;
    z-index: 0;
    /* animation: visibleee 2.5s linear infinite; */
}

#SupTech_dialog {
    top: -0.5rem;
    left: -0.2rem;
    z-index: 1;
    animation: visibleee 2.5s linear infinite;
}

#SupTech_principe {
    z-index: 2;
}

#ConsAudit_cercle {
    top: 1rem;
    left: 3rem;
    width: 3rem;
    height: 3rem;
    z-index: 0;
    transform: translateY(-50%);
    animation: cercle 4.5s linear infinite;
}

.service img {
    height: 8rem;
}

/* PRODUCTS Section */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: var(--marginTop);
    margin-bottom: 8rem;
}

#Description_products {
    font-weight: 800;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    width: 73%;
    margin-bottom: 5rem;
    align-items: center;
    background-color: var(--hoverColor);
    color: var(--bgColor);
}

.products_cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.products_cont a {
    text-decoration: none;
    color: inherit;
}

.product {

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--bgColor2);
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.product:hover {
    transform: scale(1.03);
    transition: all 0.7s;
    cursor: pointer;
}

.product img {
    width: 280px;
    padding-top: 10%;
    padding-bottom: 6%;
}

.product h3::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: 0px;
    text-shadow: 0 0 .5px var(--mainColor);
}

.product:hover h3 {
    text-shadow: 0 0 .5px var(--mainColor);
}

.product:hover h3::after {
    width: 60%;
    transition: width .3s linear;
}


/* PARTENERS Section */
.cpartners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 5rem;
}

.logosPartners img {
    width: 150px;
    margin: 0 10px;
}

.cpartners .partner_description {
    background-color: var(--secBgColor);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
}

.partner_description h3 {
    color: var(--partnerTitleColor);
    padding-top: 2rem;
}

.partner_description p {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.buttonSiteOfficielPartner a {
    text-decoration: none;
    color: inherit;
}

/* WhyNeedUs Section */
.WhyNeedUs {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: var(--marginTop);
}

.timeline {
    position: relative;
    margin: 5rem auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: .5rem;
    height: 100%;
    background: var(--bgColor2);
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveline 6s linear forwards;
}

.timelineContainer {
    padding: 2rem 3rem;
    position: relative;
    width: 50%;
}

.left-container {
    left: 0%;
}

.right-container {
    left: 50%;
}

.timelineContainer .icon {
    padding: .2rem;
    position: absolute;
    width: 3rem;
    border-radius: 10%;
    right: -1.5rem;
    top: 3.5rem;
    z-index: 10;
    background: var(--bgColor2);
}

.right-container .icon {
    left: -1.5rem;
    ;
}

.timelineContainer .img {
    width: 25rem;
    position: absolute;
}

.timelineContainer .Right-img {
    left: 116%;
}

.timelineContainer .Left-img {
    right: 120%;
}

.timelineContainer .heighter-img {
    right: 132%;
    width: 16rem;
}

.timelineTxtBx {
    padding: 1.5rem 1.5rem;
    background: var(--bgColor2);
    position: relative;
    border-radius: .5rem;
    font-size: 1rem;
}

.timelineTxtBx h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
    text-transform: uppercase;
}

.timelineTxtBx h2::after {
    display: none;
    z-index: -1;
}

.timelineTxtBx p {
    text-align: left;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 2rem;
    z-index: 1;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid var(--bgColor2);
    right: -1rem;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 2rem;
    z-index: 1;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid var(--bgColor2);
    left: -1rem;
}

/* CONTACT Section */
.contact {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: var(--marginTop);
}

/*footer*/
footer {
    background-color: #B4C0CB;
    padding: 1rem;
}

footer .logo img {
    width: 10rem;
}

footer .logo {
    padding-bottom: 2rem;
    padding-left: 3rem;
}

footer h3 {
    color: var(--mainColor);
    font-size: 18px;
}

footer svg {
    width: 2rem;
    color: var(--mainColor);
    box-shadow: 1 1 black;
}

footer .contact p {
    color: black;
    font-size: 13px;
}

footer .up {
    display: flex;
    align-items: flex-start;
    gap: 15%;
    padding: 20px;
    flex-direction: column;
}

footer .up p {
    text-align: justify;
}

.footerInfo {
    display: flex;
}

.footerInfo .item {
    width: 30%;
    padding: 0 3rem;
}

.footerInfo .item {
    display: flex;
    flex-direction: column;
}

.footerInfo .item div {
    margin-left: 1rem;
}

.footerMenu a {
    text-decoration: none;
    color: var(--mdb-body-color);
    font-family: var(--mdb-body-font-family);
    font-size: var(--mdb-body-font-size);
    font-weight: var(--mdb-body-font-weight);
    line-height: var(--mdb-body-line-height);
    cursor: pointer;
    text-transform: uppercase;
}

.footerMenu a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--mainColor);
    margin: auto;
    display: block;
    margin-top: .1rem;
}

.footerMenu a:hover::after {
    width: 100%;
    transition: width .3s linear;
}

.footerMenu a:hover {
    color: var(--mainColor) !important;
}

.footerMenu {
    display: flex;
    flex-direction: column;
}

.contactInfo {
    display: flex;
    flex-direction: row;
}

.contactInfo i {
    padding-right: .5rem;
    color: var(--mainColor);
}

.bx {
    font-size: 1.3rem;
}

footer .down {
    color: black;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

footer .down p {
    border-top: 1px solid black;
    padding-top: 10px;
}

.downloadList {
    display: flex;
}

.downloadList a {
    margin-right: 1rem;
    width: 50%;
}

.downloadList a img {
    background: white;
    width: 100%;
    height: 100%;
}


@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes displayBottom {
    0% {
        transform: translateY(100%);
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes visibleee {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cercleOpposé {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes cercle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1200px) {
    .product {
        width: 35%;
    }

    .carousel-inner {
        height: 95%;
    }

    .carousel-item {
        margin-top: 5%;
        height: 66%;
    }

    .titleContainer {
        top: 34rem;
        height: 13rem;
    }
}

@media only screen and (max-width: 1000px) {
    .product img {
        width: 200px;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --marginTop: 2rem;
    }

    .service {
        width: 100%;
        padding: 0rem 0rem;
    }

    .Right-img {
        display: none;
    }

    .Left-img {
        display: none;
    }

    .timeline::after {
        left: 0;
    }

    .timelineContainer .icon {
        right: 39.9rem;
    }

    .right-container .icon {
        left: -1.5rem;
    }

    .right-container {
        left: 0;
    }

    .timelineContainer {
        width: 100%;
    }

    .left-container-arrow {
        border-left: 0rem solid var(--bgColor2);
        border-right: 1rem solid var(--bgColor2);
        left: -1rem;
    }

    .footerInfo {
        flex-direction: column;
    }

    .footerInfo .item {
        width: 100%;
        padding: 1rem 3rem;
    }
    .downloadList {
        justify-content: flex-end;
    }
    .downloadList a {
        margin-right: .5rem;
        width: 25%;
    }
    
    .iconNavBar {
        display: inline-flex;
    }

    #checkMenu:checked~.iconNavBar #menu-icon {
        display: none;
    }

    .iconNavBar #close-icon {
        display: none;
    }

    #checkMenu:checked~.iconNavBar #close-icon {
        display: inline-flex;
    }

    #checkMenu:checked~.navbar_menu {
        height: 20rem;
    }

    #checkMenu:not(:checked)~.navbar_menu {
        height: 0;
    }

    .navbar_menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 20rem;
        background: white;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar_menu a {
        display: block;
    }
}

@media only screen and (max-width: 800px) {

    .slideContainer {
        height: 79vh;
    }

    .carousel {
        height: 90%;
    }

    .carousel-inner {
        height: 95%;
    }

    .carousel-item {
        margin-top: 19%;
        height: 49%;
    }

    .titleContainer {
        top: 24rem;
        height: 13rem;
    }

    .titleContainer h1 {
        font-size: 1.5rem;
    }

    .section h4 {
        font-size: 1rem;
    }

    .products_cont {
        flex-direction: column;
        gap: 50px;
    }

    .product {
        width: 100%;
    }

}