:root {
    --nbr-image: 5;
    --image-width: 8rem;
    --position: 0px;
    --disp: none;
}

.roll-bar {
    background-color: var(--hoverbgColor);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

.roll-bar::before,
.roll-bar::after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.roll-bar::before {
    left: 0;
    background: linear-gradient(to right, var(--bgColor2) 0%, transparent 100%);
}

.roll-bar::after {
    right: 0;
    background: linear-gradient(to left, var(--bgColor2) 0%, transparent 100%);
}

.roll-bar__galory {
    list-style: none;
    display: flex;
    justify-items: center;
    animation: scrolling 15s linear infinite;
}

.roll-bar__galory:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--nbr-image) * var(--image-width) * -1));
    }
}

.roll-bar__image {
    height: 16vh;
    width: 8rem;
    box-sizing: content-box;
    padding: 1rem 4rem;
    flex-shrink: 0;
    object-fit: contain;
}

.roll-bar__image:active {
    transform: translateY(2px);
}