
.SThreeImage1 {
    left: 15%;
    top: 15%;
    animation-name: DisplayOnPlace;
    animation-delay: .2s;
    width: 27%;
    height: 53%;
}

.SThreeImage2 {
    top: 43%;
    left: 47%;
    animation-name: TransLeft;
    animation-delay: 2s;
    height: 35%;
    width: 41%;
}

.SThreeImage3 {
    top: 69.9%;
    left: 13%;
    animation-name: displayBottom;
    animation-delay: .5s;
    height: 24%;
    width: 12%;
}

.SThreeImage4 {
    top: 32%;
    left: 23%;
    animation-name: DisplayOnPlace;
    animation-delay: .1s;
    height: 61%;
    width: 32%;
}

.SThreeImage53 {
    left: 22%;
    top: 40%;
    animation-name: Trans_SThreeImage53_Right;
    animation-delay: 1s;
    width: 10%;
    height: 17%;
}

.SThreeImage52 {
    left: 47%;
    top: 40%;
    animation-name: Trans_SThreeImage52_Left;
    animation-delay: 1s;
    width: 10%;
    height: 17%;
}

.SThreeImage51 {
    left: 33%;
    top: 35%;
    animation-name: DisplayOnPlace;
    animation-delay: .5s;
    animation-duration: 0.2s;
    width: 13%;
    height: 24%;
}

.SThreeImage6 {
    top: 59%;
    left: 42%;
    animation-name: TransLeft;
    animation-delay: 1s;
    height: 35%;
    width: 9%;
}

.SThreeImage7 {
    top: 59%;
    left: 52%;
    animation-name: TransRight;
    animation-delay: 1s;
    height: 35%;
    width: 9%;
}

.SThreeImage8 {
    top: 59%;
    left: 35%;
    animation-name: TransLeft;
    animation-delay: 1s;
    height: 35%;
    width: 9%;
}

@keyframes DisplayOnPlace {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Trans_SThreeImage52_Left {
    0% {
        transform: translateX(-50%);
        opacity: 1;
    }
    30% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes Trans_SThreeImage53_Right {
    0% {
        transform: translateX(50%);
        opacity: 1;
    }
    30% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}