
.STwoImage1 {
    left: 15%;
    top: 38%;
    animation-name: TransLeft;
    animation-delay: 1.5s;
    width: 12%;
    height: 56%;
}

.STwoImage2 {
    top: 35%;
    left: 42%;
    animation-name: TransLeft;
    animation-delay: 1s;
    height: 59%;
    width: 27%;
}

.STwoImage3 {
    top: 28%;
    left: 70%;
    animation-name: displayLeft;
    animation-delay: .5s;
    height: 66%;
    width: 20%;
}

.STwoImage4 {
    top: 35%;
    left: 56%;
    animation-name: displayBottom;
    animation-delay: .5s;
    height: 7%;
    width: 11%;
}