.image {
    position: absolute;
    opacity: 0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.image1 {
    top: 43%;
    left: 7%;
    animation-name: TransLeft;
    animation-delay: .5s;
    width: 45%;
    height: 51.4%;
}

.image2 {
    top: 33.3%;
    left: 46%;
    animation-name: TransRight;
    animation-delay: .5s;
    height: 61.1%;
    width: 42%;
}

.image3 {
    top: 57.3%;
    left: 13%;
    animation-name: displayLeft;
    animation-delay: 1s;
    height: 37%;
    width: 27%;
}

.image4 {
    top: 57.3%;
    left: 67%;
    animation-name: displayRight;
    animation-delay: .5s;
    height: 37%;
    width: 27%;
}

.image5 {
    top: 79.3%;
    left: 30%;
    animation-name: displayLeft;
    animation-delay: .5s;
    height: 16%;
    width: 8%;
}

.image6 {
    top: 82%;
    left: 89%;
    animation-name: displayRight;
    animation-delay: .5s;
    height: 11%;
    width: 9%;
}

.image7 {
    animation-name: displayBottom;
    animation-delay: 0s;
    height: 94%;
    width: 100%;
    left: 2%;
    top: 0;
}

.bulles img {
    position: absolute;
    height: 50%;
    width: 50%;
    animation: bulles 7s linear infinite;
    top: 37rem;
    opacity: 1;
}

.bulles img:nth-child(1) {
    left: 5rem;
    top: 8rem;
    width: 3rem;
    height: 3rem;
}

.bulles img:nth-child(2) {
    left: 15rem;
    top: 12rem;
    width: 8rem;
    height: 8rem;
}

.bulles img:nth-child(3) {
    left: 45rem;
    top: 8rem;
    width: 8rem;
    height: 8rem;
}

.bulles img:nth-child(4) {
    left: 75rem;
    top: 5rem;
    width: 10rem;
    height: 10rem;
}

.bulles img:nth-child(5) {
    left: 90rem;
    top: 30rem;
    width: 7rem;
    height: 7rem;
}

.bulles img:nth-child(6) {
    left: 2rem;
    top: 30rem;
    width: 3rem;
    height: 3rem;
}

.bulles img:nth-child(7) {
    left: 3rem;
    top: 28rem;
    width: 7rem;
    height: 7rem;
}

.bulles img:nth-child(8) {
    left: 70rem;
    top: 2rem;
    width: 2.5rem;
    height: 2.5rem;
}

.bulles img:nth-child(9) {
    left: 25rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
}

.bulles img:nth-child(10) {
    left: 103rem;
    top: 17.5rem;
    width: 8rem;
    height: 8rem;
}

.bulles img:nth-child(11) {
    left: 94rem;
    top: 10.5rem;
    width: 3rem;
    height: 3rem;
}

.bulles img:nth-child(12) {
    left: 37rem;
    top: 24.5rem;
    width: 7rem;
    height: 7rem;
}

.bulles img:nth-child(13) {
    left: -3rem;
    top: 47.5rem;
    width: 9rem;
    height: 9rem;
}

.bulles img:nth-child(14) {
    left: 10rem;
    top: 44.5rem;
    width: 2rem;
    height: 2rem;
}

@keyframes bulles {
    0% {
        transform: translateX(0);
    }

    1% {
        transform: translateY(0);
    }

    50% {
        transform: translateX(20px);
    }

    70% {
        transform: translateY(-20px);
    }

    99% {
        transform: translateX(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes displayBottom {
    0% {
        transform: translateY(100%);
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes displayLeft {
    0% {
        transform: translateX(100%);
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes displayRight {
    0% {
        transform: translateX(-100%);
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes TransLeft {
    0% {
        transform: translateX(-340px);
    }

    40% {
        opacity: 1;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes TransRight {
    0% {
        transform: translateX(311px);
    }

    40% {
        opacity: 1;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
