/* @font-face{
    font-family: arabicFont;
    src: url(Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf);
}

@font-face{
    font-family: FrenchFont;
    src: url(Marselis_Pro_Bold.ttf);
} */

.arabicFont{
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: 500;
}


.frenchFont{
    font-family: FrenchFont;
    font-weight: 700;
}